<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<meta charset="utf-8">-->
<!--<title>登录</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;th:action=""是thymeleaf语法，可以去学习&ndash;&gt;-->
<!--<form th:action="@{/user/login}" method="post">-->
<!--<label for="username">用户名</label>-->
<!--<input id="username" type="text" name="username">-->
<!--<label for="password">密码</label>-->
<!--<input id="password" type="password" name="password">-->
<!--<button type="submit"> 登录</button>-->
<!--&lt;!&ndash;就是UserController类中的map.put("msg","用户名或密码错误")&ndash;&gt;-->
<!--<p th:text="${msg}"></p>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->


<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">

    <title>SignIn</title>

    <!-- Bootstrap core CSS -->
    <link href="/asserts/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/asserts/css/signin.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="dashboard.html" th:action="@{/user/login}" method="post">
    <img class="mb-4" src="../favicon.ico" alt="" width="64" height="64">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <a th:href="@{/register}">注册</a>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2019-2020</p>
</form>
</body>
</html>